<div class="flex responsive-div" style="position: relative; text-align: end;">
  <div>
    <img src="/img/Narrenschiff_(1549).jpg" alt="Stultifera navis"  style="border-color: #333; width: 100%;"/>
  </div>
  <span style="margin: 5px 0px 5px 0px; font-weight: 200;">
    PROFEGTION
  </span>
  <span class="f-responsive" style="margin-top: 5px; text-wrap: wrap;">
    <i>FINEM MUNDI VENIT IN LUNA DECIMA DIE PASCHAE CUM SOL ARDET AGRUM ET SAL MARI PORTA.</i>
  </span>
  <span style="margin-top: 5px;">
    Stultifera Navis
  </span>
</div>

<div class="flex-row bottom" style="justify-self: anchor-center;font-size: 14px;font-weight: 200;">
  <div style="text-align: center;" [innerHTML] = "author"></div>
</div>

<router-outlet />
