html{
    height: 100%;
    width: 100%;
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    margin: 0;
    background-color: #ffffff;
    height: 100%;
    vertical-align: center;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
    width: 400px;
    height: 300px;
}

.flex{
    display: flex;
    flex-direction: column;
    column-fill: balance;
    align-items: flex-end;
}

.flex-row{
    display: flex;
    flex-direction: row;
    column-fill: balance;
}

.bottom{
    position: absolute;
    bottom: 0px;
}