html{
    height: 100%;
    width: 100%;
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    margin: 0;
    background-color: #ffffff;
    height: 100%;
    vertical-align: middle;
    align-content: center;
    justify-items: center;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('/img/2.png');
    background-size: cover;
    
}

.flex{
    display: flex;
    flex-direction: column;
    column-fill: balance;
    align-items: flex-end;
}

.flex-row{
    display: flex;
    flex-direction: row;
    column-fill: balance;
}

.bottom{
    position: absolute;
    bottom: 0px;
}

.responsive-div {
    width: 90%; /* Fluid width relative to parent */
    max-width: 600px; /* Prevent excessive stretching on large screens */
    margin: 0 auto; /* Center the div */
  }

.f-responsive {
    font-size: clamp(1rem, 1vw, 1.3rem);
}
